<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chatappv0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Affix"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".groupMeetingActivity" />
        <activity android:name=".meetingActivity" />
        <activity
            android:name=".imageViewActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/Widget.AppCompat.Toolbar" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".forwardMessage" />
        <activity android:name=".forwardMessageGrp" />
        <activity android:name=".forwardMessageGroup" />
        <activity android:name=".addMember" />
        <activity android:name=".groupVisit" />
        <activity android:name=".profileVisit" />
        <activity
            android:name=".groupChat"
            android:hardwareAccelerated="false" />
        <activity android:name=".sendRequestToJoinGroup" />
        <activity android:name=".allGroupActivity" />
        <activity android:name=".groupNameActivity" />
        <activity android:name=".displayUserForGroup" />
        <activity android:name=".acceptRequest" />
        <activity android:name=".allRequest" />
        <activity android:name=".sendRequest" />
        <activity
            android:name=".chatPage"
            android:hardwareAccelerated="false" />
        <activity android:name=".allusersActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".profileActivity" />
        <activity android:name=".signupActivity" />
        <activity android:name=".loginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".splashScreenA"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1155879823920026~6202690891" />
    </application>

</manifest>